__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info/
.eggs/
build/
dist/
dist_win/
*.spec
.venv/
venv/
ENV/
env/
node_modules/
web/
tests/
testdata/
docs/
.git/
.github/
*.md
!README.md
